$transition-duration: 0.15s;
$shadow: 0 0 10px rgba(0,0,0,0.5);

.mobile-bar {
  width: 100%;
  position: fixed;
  left: 0;
  touch-action: pan-x;

  &.mobile-bar--shadow {
    box-shadow: $shadow;
  }

  &.mobile-bar--top {
    background: darkcyan;
    top: 0;
  }

  &.mobile-bar--bottom {
    background: orange;
    bottom: 0;
  }

  &:not(.mobile-bar--dragging) {
    transition: transform $transition-duration;
  }
}

//TODO: demo
.search-menu {
  padding: 7px 7px 0 7px;

  input {
    border-radius: 2px;
    border: none;
    margin: 0;
  }

  .nav-item a {
    color: #FFF;
    padding-top: 0.7rem;
    padding-bottom: calc(0.7rem - 1px);
    font-size: 0.8em;

    &.active {
      border-bottom: 2px solid #FFF;
    }
  }
}
