@import "ember-mobile-bar/variables";

.mobile-bar {
  width: 100%;
  position: fixed;
  left: 0;
  touch-action: pan-x;
  background: $ember-mobile-bar-bg;

  &.mobile-bar--shadow {
    box-shadow: $ember-mobile-bar-shadow;
  }

  &.mobile-bar--top {
    top: 0;
  }

  &.mobile-bar--bottom {
    bottom: 0;
  }

  &:not(.mobile-bar--dragging) {
    transition: transform $ember-mobile-bar-transition-duration;
  }
}

//TODO: demo
.search-menu {
  input {
    border-radius: 2px;
    border: none;
    margin: 0;
  }

  .nav-item a {
    color: #FFF;
    padding-top: 0.7rem;
    padding-bottom: calc(0.7rem - 1px);
    font-size: 0.8em;

    &.active {
      border-bottom: 2px solid #FFF;
    }
  }
}
